h1 .wfo-name-authors {
    color: gray;
    font-size: 90%;
}

.card {
    margin-bottom: 1em;
}

/* Leaflet map height */
#map {
    width: 100px;
    height: 100px;
    min-height: 400px;
    min-width: 800px;
    display: block;
}