h1 .wfo-name-authors {
    color: gray;
    font-size: 90%;
}

.card {
    margin-bottom: 1em;
}

#search_box:focus-visible{
    outline: 0px solid black;
    border-radius: 0px;
    box-shadow: none;
}

.wfo-meta-row:hover{
    background-color: lightgray;
}

.wfo-facet-value{
    cursor: pointer;
}

.btn-primary {
    color: #fff; 
}  

.btn-primary:hover {
   color: rgba(255,255,255,0.8);    
}  

.wfo-image-thumbnail{
    float: left;
}

#imageModal .modal-body a{
    color: white;
}

#imageModal .modal-body a:hover{
    color: gray;
}

/*
style the mark down used in pages
https://stackoverflow.com/questions/39718782/css-is-it-possible-to-use-img-alt-attribute-for-styling
*/

.wfo-md{
   font-family: "Source Sans Variable", -apple-system, sans-serif;
   color: rgb(33, 37, 41);
}

.wfo-md h2{
    font-weight: bold;
    color: rgb(29, 76, 103);
}
.wfo-md h3{
    font-size: 120%;
    font-weight: bold;
    color: rgb(29, 76, 103);
}
.wfo-md h4{
   font-size: 100%;
   font-weight: bold;
   color: rgb(46, 138, 136)
}



.wfo-md img[alt$="~left"]{
    max-width: 15%;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.wfo-md p:has(img[alt$="~left"]),
.wfo-md p:has(img[alt$="~right"])
{
    overflow: hidden;
}

.wfo-md img[alt$="~right"]{
    max-width: 15%;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

.wfo-md img[alt$="~rightflow"]{
    max-width: 25%;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    mix-blend-mode: multiply; /* make white backgrounds transparent */
}

.wfo-md p:has(img[alt$="~grid"]){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.5em;
}
.wfo-md img[alt$="~grid"]{
    width: 98%;
    height:100%;
    object-fit: cover;
    display: inline;
}


/*
    A mechanism to have rotating 
    images
*/
.wfo-md img[alt$="~logoshow"]{
    max-width: 250px;
    max-height: 200px;
    mix-blend-mode: multiply; /* make white backgrounds transparent */
}
.wfo-md p:has(img[alt$="~logoshow"]){
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    float: right;
    margin: 1em;
}
.wfo-md a:has(img[alt$="~logoshow"]){
    display: none;
    animation: fade-in 3s;
}
@keyframes fade-in {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
.wfo-md img{
    max-width: 98%;
}

.wfo-md a img:hover{
    opacity: 0.7;
    border: solid gray 1px;
}

.wfo-md table td,
.wfo-md table th
{
    border: 1px gray solid;
    padding: 0.5em;
}

.wfo-md table tr:nth-child(even) {
    background-color: #eee;
}

.wfo-md blockquote{
    font-size: 150%;
    font-weight:lighter;
    border-left: 1px gray solid;
    padding-left: 1em;
}

/*
    for readability we keep the 
    column a little narrower
*/
div.wfo-md{
    max-width: 56em;
}

/*
    a wrapper to make YouTube embeds 100%
*/
.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer .wfo-botguard{
   text-align: right;
   margin: 1em;
}

.footer .wfo-botguard a{
   color: lightgray;
   text-decoration: none;
}
