h1 .wfo-name-authors {
    color: gray;
    font-size: 90%;
}

.card {
    margin-bottom: 1em;
}

#search_box:focus-visible{
    outline: 0px solid black;
    border-radius: 0px;
    box-shadow: none;
}

.wfo-meta-row:hover{
    background-color: lightgray;
}

.wfo-facet-value{
    cursor: pointer;
}

.btn-primary {
    color: #fff; 
}  

.btn-primary:hover {
   color: rgba(255,255,255,0.8);    
}  

