RewriteEngine On

#exclude subdirectories
RewriteCond %{REQUEST_URI} !^/.+/ 

# other files called by ajax
RewriteCond %{REQUEST_URI} !^/search_suggest.php 
RewriteCond %{REQUEST_URI} !^/provenance_modal_data.php 
RewriteCond %{REQUEST_URI} !^/provenance_modal_facet.php 
RewriteCond %{REQUEST_URI} !^/widget_(.+)\.php$ 
RewriteCond %{REQUEST_URI} !^/csv.php 
RewriteCond %{REQUEST_URI} !^/data_cache.php 



#everything else goes to index.php
RewriteRule !index\.php$ index.php [L]