
RewriteEngine On

#exclude subdirectories
RewriteCond %{REQUEST_URI} !^/.+/ 

# other files called by ajax
RewriteCond %{REQUEST_URI} !^/search_suggest.php 
RewriteCond %{REQUEST_URI} !^/facet_provenance.php 

#everything else goes to index.php
RewriteRule !index\.php$ index.php [L]
